
result
!.gitignore

!README.md
!LICENSE

!flake.nix
!flake.lock

!scripts/
!scripts/*.sh

!infra/
infra/result
!infra/k8s/
!infra/k8s/*.yaml

!frontend/
frontend/node_modules
frontend/dist
frontend/result
!frontend/angular.json
!frontend/Dockerfile
!frontend/nginx.conf
!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.app.json
!frontend/tsconfig.spec.json
!frontend/tsconfig.json
!frontend/src/
!frontend/src/**

!backend/
backend/target
backend/result
!backend/Dockerfile
!backend/mvnw
!backend/pom.xml
!backend/src/
!backend/src/**
